extends layout.jade
block userContent
  //- type 0:新闲置 1:评论回复 2:通过审核  3:审核不通过
  div.news-box
    //- newsList = [{type:0,userid:'123',name:"烟树",comodityid:'321',commodity:"iphone8",time:"2015-11-17 09:09:09",img:'/dist/images/header.jpg',title:'嘿嘿嘿',price:'222'},{type:1,userid:'123',name:"烟树",comodityid:'321',commodity:"iphone8",time:"2015-11-17 09:09:09",img:'/dist/images/header.jpg',title:'嘿嘿嘿',price:'222'},{type:2,userid:'123',name:"烟树",comodityid:'321',commodity:"iphone8",time:"2015-11-17 09:09:09",img:'/dist/images/header.jpg',title:'嘿嘿嘿',price:'222'},{type:3,userid:'123',name:"烟树",comodityid:'321',commodity:"iphone8",time:"2015-11-17 09:09:09",img:'/dist/images/header.jpg',title:'嘿嘿嘿',price:'222'},{type:4,userid:'123',name:"烟树",comodityid:'321',commodity:"iphone8",time:"2015-11-17 09:09:09",img:'/dist/images/header.jpg',title:'嘿嘿嘿',price:'222'}]
    - newsList = messages;
    each item in newsList
      case item.type
        when 'follow'
          div.news-item
            p.news-item-header
              span.news-item-text
                a(href="#")= item.sender.nickName
                span 关注了我
              span.news-item-time= item.createTime
        when 'at'
          div.news-item
            p.news-item-header
              span.news-item-text
                span 我的闲置
                a(href="#")= item.commodity
                span 下的评论有了回复
              span.news-item-time= item.time
            a(href="/commodity/"+item.comodityid)
              div.news-item-body
                div.news-item-img
                  img(src= item.img, alt="")
                div.news-detail
                  h2.news-title= item.title
                  p.news-price
                    i.icon.yen
                    span= item.price
        when 'reply'
          div.news-item
            p.news-item-header
              span.news-item-text
                span 我的闲置
                a(href="#")= item.commodity
                span 已经通过审核
              span.news-item-time= item.time
            a(href="/commodity/"+item.comodityid)
              div.news-item-body
                div.news-item-img
                  img(src= item.img, alt="")
                div.news-detail
                  h2.news-title= item.title
                  p.news-price
                    i.icon.yen
                    span= item.price
        when 'notice'
          div.news-item
            p.news-item-header
              span.news-item-text.fail
                span 我的闲置
                a(href="#")= item.commodity
                span 审核失败！点击下面链接重新编辑
              span.news-item-time= item.time
            a(href="/commodity/"+item.comodityid)
              div.news-item-body
                div.news-item-img
                  img(src= item.img, alt="")
                div.news-detail
                  h2.news-title= item.title
                  p.news-price
                    i.icon.yen
                    span= item.price
