div.setting-side-bar
  div.user-setting-my-card
    div.user-img
      img(src=user.header, alt="")
    p.user-name #{user.nickName}
    div.my-infos-box
      .ui.divider.inverted
      - var numList = [{type:'关注',num:22},{type:"信徒",num:33},{type:"闲置",num:44}]
      each item in numList
        span.user-center-header-info
          a(href="#",class="user-num-info")= item.num
          a(href="#",class="user-num-type")= item.type
  div.user-setting-nav
    div.user-setting-nav-top
      span.setting-title 设置
    ul
      - var settingList = ['个人资料','修改头像','帐号安全','第三方绑定']
      - var settingNav = ['/setting','settingHeader','/settingPass','/settingBind']
      each item,index in settingList
        li
          a(href=settingNav[index],class="user-setting-nav-item")= item
