extends ../public/layout.jade
block append css
  link(rel='stylesheet', href='/dist/css/setting.css')
block content
  div.user-setting-content
    div.user-setting-edit-box
      div.setting-top
        h1.setting-title 个人资料
        button.ui.button.orange.small(onclick="$('form').submit()") 保存
      .ui.divider.inverted
      div.user-setting-form
        form(action="/setting" method="POST")
          .setting-line
            label(for="nickName") 昵称
            .ui.input.error
              input(type="text",id="nickName",name="nickName",value=user.nickName)
              span.warninginfo 含有非法字符
          .setting-line
            label(for="phoneNum") 手机号
            .ui.input
              input(type="tel",id="phoneNum",name="phoneNum",value=user.phoneNum)
              button.get-verification-btn.ui.button.blue.tiny.hidden 获取验证码
              //- 点击获取验证码 显示
              button.got-verification-btn.ui.button.tiny.disabled 20s之后再次获取
              //span.second-time 20
              //span s之后再次获取
          .setting-line
            label 验证码
            .ui.input
              input(type="text")
              button.ui.button.red.tiny 确认
              span.warninginfo 验证码错误



          .setting-line
            label(for="realName") 真实姓名
            .ui.input
              input(type="text",id="realName",name="realName",value=user.realName)
              span.warninginfo 含有非法字符
          .setting-line
            label(for="qq") QQ
            .ui.input
              input(type="tel",id="qq",name="qq",value=user.qq)
              span.warninginfo 这不是QQ号

          .setting-line
            label(for="weChat") 微信
            .ui.input
              input(type="text",id="weChat",name="weChat",value=user.weChat)
              span.warninginfo 这不是微信号
          .setting-line
            label(for="sex") 性别
            input(type="hidden",id="sex",name="sex",value=user.sex)
            .ui.dropdown
              #sex.text #{user.sex}
              i.dropdown.icon
              .menu
                .item 男子汉
                .item 小娘子
          .setting-line
            //- 日历控件
            label(for="birthday") 生日
            .ui.input
              input(type="datetime",id="birthday",name="birthday",value=user.birthday)
    include settingSideBar
    
