extends ../layout.jade
block append css
  link(rel='stylesheet', href='/dist/css/commodityShow.css')
block content
  -if(commodity){
    .edit-container
      .edit-big-box
        .edit-line.edit-big-box-title-box
          h2.edit-box-title 修改闲置
          buttons
            a(href="/commodity/"+commodity._id).ui.button.basic.small 取消
            //- .ui.button.small.orange 保存修改
        form(action="/edit/"+commodity._id+"/hostId/"+commodity.hostId enctype="multipart/form-data" method="POST")
          p.edit-info.tip 为了保证信息可靠性，修改成功后将重新进入审核状态，让我们携手努力，维护杭电良品的优质信息。
          section.sub-edit-box
            .edit-line
              label(for="title")
              .ui.input(style="width:500px;")
                input(type="text" id="title" name="title",value=commodity.title)
            .edit-line
              label
              span.edit-info 商品关键字靠前，会提升关注度哦

          //- 富文本
          #rich-text-box
          .edit-line.center
            input.edit-commodity-btn.ui.button.orange(type="submit",value="保存修改")
      .edit-box-list
        .edit-commodity-info
          form(action="/editInfo/"+commodity._id+"/hostId/"+commodity.hostId
          method="POST")
            .edit-line
              h2.edit-box-title 商品信息
            .edit-line
              span.info-key 商品名称
              span.info-value #{commodity.name}
            .edit-line
              label 商品类目
              .ui.selection.dropdown(style="min-width:80px")
                input(type="hidden")
                i.dropdown.icon
                .default.text= category.parent
                .menu
                  - firstCategory = ['闲置数码','家居日用','鞋服配饰','美容保健','交通工具','其他']
                    - each item,index in firstCategory
                      .item(data-value=item) #{item}
              .ui.selection.dropdown(style="min-width:80px")
                // - 已最后细化的 category 为标准
                input(name="categoryId",type="hidden")
                i.dropdown.icon
                .default.text= category.name
                .menu
                  - secondCategory = ['闲置数码','家居日用','鞋服配饰','美容保健','交通工具','其他']
                    - each item,index in secondCategory
                      .item(data-value=item) #{item}
            .edit-line
              label(for="fineness") 成色
              .ui.selection.dropdown(style="min-width:100px")
                input(name="howNew",id="fineness",type="hidden",value=commodity.howNew)
                i.dropdown.icon
                .default.text #{commodity.howNew}成新
                .menu
                  - opList = [99,95,9,8,6,5,3,2]
                  - each item,index in opList
                    .item(data-value=item) #{item}成新
            .edit-line
              label(for="price") 价格
              .ui.input
                input(type="tel",id="price",name="price",value=commodity.price)
            .edit-line
              label 入手价格
              .ui.input
                input(type="tel",name="gotPrice",value=commodity.gotPrice)
            .edit-line
              label 入手时间
              //- 使用日历控件
              .ui.input
                input(type="datetime",value=commodity.gotTime,name="gotTime")
            .edit-line
              input.edit-commodity-btn.ui.button(type="submit",value="保存修改")
        .edit-img
          form(action="/editImg/"+commodity._id+"/hostId/"+commodity.hostId  enctype="multipart/form-data" method="POST" id="uploadForm")
            .edit-line
              h2.edit-box-title 封面图片
              a.ui.button.mini.basic#inputBtn 更改
              button.ui.button.orange.small#uploadImgBtn(onclick="$('form').submit()") 保存
              input(type="file",id="hiddenInput",name="coverImage",width="100px",accept="image/*",class="hidden")
            input.edit-commodity-btn.hidden(type="submit",value="保存修改")
            .img-box#img-preview
              img(src=commodity.coverImage, alt="")

        .edit-concat-info
          form(action="/editConnect/"+commodity._id+"/hostId/"+commodity.hostId method="POST")
            h2.edit-box-title 联系信息
            .edit-line
              label(for="phoneNum")手机
              .ui.input
                input(type="tel",id="phoneNum",name="phoneNum",value=commodity.phoneNum)
            .edit-line
              label(for="userName")姓名
              .ui.input
                input(type="text",id="userName",name="userName",value=commodity.userName)
            .edit-line
              label(for="qq") QQ
              .ui.input
                input(type="tel",id="qq",name="qq",value=commodity.qq)
            .edit-line
              label(for="wechat")微信
              .ui.input
                input(type="text",id="wechat",name="weChat",value=commodity.weChat)
            .edit-line
              input.edit-commodity-btn.ui.button(type="submit",value="保存修改")
  - }
