extends ../public/layout.jade
block append css
  link(rel='stylesheet', href='/dist/css/commodityShow.css')
block append script
  script(charset="utf-8",type="text/javascript",src="http://changyan.sohu.com/upload/changyan.js")
  script(src="/dist/js/getChangyan.js")
block content
  - if(commodity){
    div.commodity-detail-box
      div.commodity-detail-post
        h1.post-title #{commodity.title}
        .ui.inverted.divider
        .commodity-sub-title
          div.commodity-sub-title-left
            span.last-edit-time #{commodity.updateTime.toLocaleDateString()}
            .commodity-category.ui.breadcrumb
              span.section 数码产品
              span.divider /
              span.section 相机及其周边
          div.commodity-sub-title-right
            .visited-num
              i.unhide.icon
              span #{commodity.visitedCount}
            .comment-num
              i.comment.icon.outline
              span(id = "sourceId::14562",class="cy_cmt_count")
        //- 正文内容
        div.topimage
          img(src="/dist/images/nan.jpg")
        div.commodity-post-text
          p 不是说这里是正文嘛！！ 字呢！！
        .btn-hate
          .ui.button.circular.icon
            i.icon.thumbs.down.outline
        .ui.divider
        //- 评论区
        div.comment-box#SOHUCS(sid="14562")
      div.commodity-detail-list
        div.commodity-info-detail
          .detail-line
            h2 商品信息
            - if(isSelf){
              // 自己
              // 不同状态
              - var status = commodity.status
              case status
                when 0
                  .ui.button.mini.orange 审核中
                when 1
                  .ui.button.mini.green 正在卖
                when 2
                  .ui.button.mini.black 已下架
                when 3
                  .ui.button.mini.red 审核未通过
                default
                  .ui.button.mini.orange 审核中
              a(href="/edit/"+ commodity._id)
                .ui.button.mini编辑
            - }else{
              .ui.button.basic.mini
                i.icon.heart.outline 关注该用户
              - var status = commodity.status
              case status
                when 1
                  .ui.button.mini.green 正在卖
                when 2
                  .ui.button.mini.black 已下架
                default
                  .ui.button.mini.black 已下架
            - }
          .ui.inverted.divider
          .detail-line
            .info-key
              i.icon.tag
              商品名称
            .info-value #{commodity.name}
          .detail-line
            .info-key
              i.icon.star.half.empty
              价格
            .info-value #{commodity.price}
          .detail-line
            .info-key
              i.icon.find
              成色
            .info-value #{commodity.howNew}成新
          .detail-line
            .info-key
              i.icon.wait
              入手时间
            .info-value #{commodity.gotTime.toLocaleDateString()}
          .detail-line
            .info-key
              i.icon.star
              买入价格
            .info-value #{commodity.gotPrice}

        div.commodity-user-info
          div.info-header
            a.ui.image(href="/user/"+commodity.hostId)
              img(src=hoster.header,alt="")
            div.info-as-name
              a.user-name(href="/user/"+commodity.hostId) 烟树
              .user-num
                .user-follow-num
                  a(href="/user/"+commodity.hostId+"/follows") 信徒 #{hoster.follows.length}
                .user-commodity-num
                  a(href="/user/"+commodity.hostId+"/commodity") 闲置 #{hoster.myCommodity.length}
          .ui.inverted.divider
          div.info-body
            .detail-line
              span.info-key 联系电话
              span.info-value #{commodity.phoneNum}
            .detail-line
              span.info-key QQ
              span.info-value #{commodity.qq}
            .detail-line
              span.info-key 微信
              span.info-value #{commodity.weChat}
        div.commodity-user-commodities
          .detail-line
            h2 TA的其他闲置
          .ui.inverted.divider
          .items-show-box
            .left-btn
              i.icon.angle.left
            a.ui.image.popupele(href="",data-content="这个商品的标题1")
              img(src="/dist/images/nan.jpg",alt="")
            a.ui.image.popupele(href="",data-content="这个商品的标题2")
              img(src="/dist/images/nan.jpg",alt="")
            a.ui.image.popupele(href="",data-content="这个商品的标题3")
              img(src="/dist/images/nan.jpg",alt="")
            .right-btn
              i.icon.angle.right
  - }
