extends ../public/layout.jade
block append css
  link(rel='stylesheet', href='/dist/css/commodityShow.css')
  link(rel='stylesheet', href='/lib/umeditor/themes/default/css/umeditor.css')
block append script
  script(src="/lib/umeditor/umeditor.config.js")
  script(src="/lib/umeditor/umeditor.js")
  script(src="/lib/umeditor/lang/zh-cn/zh-cn.js")
block content
  div.publish-box
    h1.box-title 发布闲置
    form(action="/publish" enctype="multipart/form-data" method="POST")
      p.publish-info 必填项
      section.sub-publish-box
        .publish-line
          label(for="title")闲置标题
          .ui.input(style="width:300px;")
            input(type="text" id="title" name="title")
          span.publish-info 商品关键字靠前，会提升关注度哦
        .publish-line
          label 商品类目
          .ui.selection.dropdown(style="min-width:120px")
            input(type="hidden")
            i.dropdown.icon
            .default.text 一级标签
            .menu
              - each item,index in firstCategory
                .item(data-value=item._id) #{item.name}
          .ui.selection.dropdown(style="min-width:120px")
            // - 已最后细化的 category 为标准
            input(name="categoryId",type="hidden")
            i.dropdown.icon
            .default.text 二级标签
            .menu
              - each item,index in secondCategory
                .item(data-value=item._id) #{item.name}
        .publish-line
          label 商品名称
          .ui.input(style="width:150px;margin-right:20px")
            input(type="text",placeholder="例：iphone6国行" name="name")
          span.publish-waring 非常重要，不可更改
        .publish-line
          label(for="fineness")成色
          .ui.selection.dropdown(style="min-width:100px")
            input(name="howNew",id="fineness",type="hidden")
            i.dropdown.icon
            .default.text 请选择
            .menu
              - howNewList = [99,95,9,8,6,5,3,2]
              - each item,index in howNewList
                .item(data-value=item) #{item} 成新
        .publish-line
          label(for="price")价格
          .ui.input(style="width:60px")
            input(type="tel",id="price",name="price")
        .publish-line.before-upload
          label(for="coverImage")封面图片
          // - 这里的a便签用来美化input
          a.ui.button.mini.basic#inputBtn 上传封面
          input(type="file",id="hiddenInput",name="coverImage",accept="image/*",class="hidden")
          a(href="http://zhizhi.betahouse.us/")《闲置商品规则》
        //- hidden first
        .publish-line.after-upload
          label(for="perCoverImage")预览图片
          //- button.ui.button.basic.grey.mini(style="margin-left:20px;") 预览
          //- 预览框应该处理成绝对定位  脱离文档流
          div#img-preview
            img(src="/dist/images/nan.jpg", alt="")
          //button.ui.button.basic.grey.mini 重新上传
          //span.publish-info 已上传
      p.publish-info 选填项
      section.sub-publish-box
        .publish-line
          label(for="gotTime")入手时间
            //- 使用日历控件
          .ui.input
            input(type="text",id="gotTime",name="gotTime")
          label(for="gotPrice")入手价格
          .ui.input
            input(type="tel",id="gotPrice",name="gotPrice")
          span.publish-change-info-btn 修改联系方式
            i.icon.angle.down
        //- hidden first
        .publish-line
          label(for="phoneNum")手机
          .ui.input
            input(type="tel",id="phoneNum",name="phoneNum")
          label(for="userName")姓名
          .ui.input
            input(type="text",id="userName",name="userName")
          label(for="qq") QQ
          .ui.input
            input(type="tel",id="qq",name="qq")
          label(for="weChat")微信
          .ui.input
            input(type="text",id="weChat",name="weChat")
      p.publish-info 详细信息
      //- 富文本
      #richEditor
      .publish-line.publish-btn-box
        input.publish-commodity-btn.ui.button.orange(type="submit",value="发布")








