.commodity-card.ui.card.mycommodity-card
    .image.blurring.dimmable
        .ui.dimmer
            .content
                .content
                    a.ui.inverted.button 编辑
                    a.ui.inverted.button 下架
        img(src="" alt="")
    .content
        .headerbox
            .commodity-price $#{commodities[i].price}
            .extrabox.mycommodity
                a(href="") 查看
        .introbox
            a(href="")
                img.mini.ui.image.floated.left(src= users[i].header)
            p.header
                a(href="") #{commodities[i].title}
            p.meta  描述一下～描述一下描述一下描述一下描述一下描述一下描述一下
        .extra
            span #{commodities[i].updateTime}
            span.right.floated 评论#{commodities[i].reply.length}/翻阅#{commodities[i].visitedCount}
