.commodity-card.ui.card.mycommodity-card
    a(href="/commodity/"+commodities[i]._id,class="image blurring dimmable")
        .ui.dimmer
            .content
                .content
                    a.ui.inverted.button 编辑
                    a.ui.inverted.button 下架
        img(src=commodities[i].coverImage alt="")
    .content
        .headerbox
            .commodity-price $#{commodities[i].price}
            .extrabox.mycommodity
                a(href="/commodity/"+commodities[i]._id) 查看
        .introbox
            a(href="")
              - if(theUser){
                img.mini.ui.image.floated.left(src= theUser.header)
              - }else{
                img.mini.ui.image.floated.left(src= users[i].header)
              - }
            p.header
                a(href="") #{commodities[i].title}
            p.meta  描述一下～描述一下描述一下描述一下描述一下描述一下描述一下
        .extra
            span #{commodities[i].updateTime}
            span.right.floated 评论#{commodities[i].replyCount}/翻阅#{commodities[i].visitedCount}
